.homepage #service-cards .orange-card {
    min-height: 375px;
    img {
        padding: 10px;
    }
}

.home-high-standards {
    .grid-image {
        img {
            padding-bottom: 20px;
        }
    }
}


#three-testimonials {
    background: $gs-2; 
    position: relative; 
    z-index: 0; 
    padding-top: 200px; 
    margin-top: -100px;
    .row:nth-of-type(2) {
        margin-top: 60px;
    }
    .orange-card {
        img {
            margin-top: -70px;
            margin-bottom: 20px;
        }
    }
}


#problem-solvers, #overlap-cards {
    .row:nth-of-type(2) {
        margin-top: 30px;
    }
    .row:nth-of-type(3) {
        margin-top: 40px;
    }
    .orange-card, .white-card {
    min-height: 280px;
    h4, h5, h6 {
        margin-top: 0;
    }
        img {
            margin-top: -70px;
            margin-bottom: 40px;
        }
    }
}


.homepage {

    #enterprise-enablers {
        padding-bottom: 40px;
    }
}

.home-high-standards {
    .grid-text {
        background-color: $brand-1;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            color: $white;
        }
        h3 {
            margin-top: 0;
        }
    }
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .right-text {
            max-width: 750px;
            width: 100%;
            padding: 30px;
        }
    }

}

.home-fifty-fifty {
    align-items: flex-end;
    padding: 0 0 0 0;
    .left {
        overflow: hidden;
        br {
            display: none;
        }
        iframe {
            width: 100%;
            height: 500px;
        }
    }
    .left {
        width: 50%;
    }
    .right {
        background-color: $brand-1;
        height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .right-text {
            max-width: 750px;
            width: 100%;
            padding: 30px;
        }
    }
    .white-text {
        text-align: center;
    }
}

#home-it-excellence {
    padding: 30px 0 60px 0;
    .arrow-button {
        .orange-text {
            &:hover {
                color: $white !important;
            }
        }
    }
}

.home-remote-work {
    .grid-text {
        background: $brand-1;
        border-radius: 10px;
        padding: 30px;
        > * {
            color: $white;
        }
    }
}

.testimonial-slider {
    .slide-main-content.text-center {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .splide__arrow {
        top: 25%;
    }
    .flex-row.quote-attr {
        justify-content: center;
        align-items: center;
        > * {
            padding: 10px;
        }
    }
}


.flex-page-template {
    h1 {
        line-height: 125%; 
        margin-bottom: 18px; 
        font-size: 44px;
    }
}


.co-managed-multi-section {
    padding-top: 60px;
    padding-bottom: 220px;
    margin-bottom: -100px;
    .value-six-columns {
        margin-top: 40px;
    }
    .col-12 {
        p {
            color: $gs-2;
        }
    }
    .values-icon {
        i {
            font-size: 74px;
            color: $gs-2;
        }
    }
    .values-text-row {
        margin: 20px auto 70px auto;
    }
}

.case-studies-module {
    .section-heading {
        p {
            margin-bottom: 40px;
        }
    }
}

#final-form .col-12 {
    max-width: 880px;
    margin: 0 auto;
    float: none;
    width: 100%;
    padding: 20px;
}

#dark-final-form .col-12 {
    max-width: 880px;
    margin: 0 auto;
    float: none;
    width: 100%;
    padding: 20px;
}

.white.card.orange-border {
    padding: 20px;
}

#page-id-61913423925 #overlap-cards .row .orange-card img, #page-id-62300348998 #overlap-cards .row .orange-card img{
    margin-bottom: 28px;
}

#page-id-61913423925 #problem-solvers .row .orange-card img {
    margin-bottom: 20px;
}

#page-id-62073213880 .home-fifty-fifty {
    margin-top: -50px;
}

#page-id-62073213880 #dark-final-form {
    padding-top: 110px;
    margin-top: -60px;
    padding-bottom: 100px;
}

#page-id-62377800489 .five-cards-skew-up .col-4:nth-of-type(4), #page-id-62377800489 .five-cards-skew-up .col-4:nth-of-type(5) {
    margin-top: 40px;
}


#page-id-62370055059 #case-studies-novem-way .col-6:nth-of-type(1) {
    height: 580px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
}

#page-id-63204019270 section {
    padding: 60px 0;
}

.knowledge-hub-anchors {
    margin-top: 20px;
    .flex-row {
        .flex-card.btn {
            width: 25%;
            background: $brand-1;
            color: $white;
            border-radius: 50px;
            transition: 300ms;
            &:hover {
                background: $gs-1;
            }
        }
    }
}

@supports (display: grid) {

    .grid-container {
      display: grid;
      grid-template-columns: 1fr repeat(10,15px 1fr);
      position: relative;
      overflow: hidden;
      z-index: 1;
    }

        .home-high-standards {
            .grid-image {
                grid-column-start: 1;
                grid-column-end: 16;
                grid-row: 1/3;
            }
            .grid-text {
                grid-column-start: 8;
                grid-column-end: 22;
                grid-row: 2/5;   
            }
        }
    

    .home-remote-work {
        .grid-container {
            align-items: center;
        }
        .grid-text {
            grid-column-start: 2;
            grid-column-end: 14;
            grid-row-start: 1;
            height: min-content;
            z-index: 2;
        }
        .grid-image {
            grid-column-start: 10;
            grid-column-end: 30;
            grid-row-start: 1;
            z-index: 1;
            text-align: right;
        }
    }
  }

