html, body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  scroll-behavior: smooth;
  color: #676767;
  font-family: 'Montserrat',sans-serif; 
}
  
* {
  box-sizing: border-box; }

a {
  outline: none; }

img {
  max-width: 100%; }

svg path {
  transition: all 300ms; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 44px;
  margin: 34px 0;
 }

h2 {
  font-size: 28px;
  margin: 32px 0; }

h3 {
  font-size: 22px;
  margin: 24px 0; }

h4 {
  font-size: 20px;
  margin: 18px 0; }

h5 {
  font-size: 18px;
  margin: 16px 0; }

h6 {
  font-size: 16px;
  margin: 16px 0; }

p {
  font-size: 16px;
  font-style: normal;
  line-height: 168%;
  font-weight: 300; }

