@import "_vars";

.dark-text{
  color: $gs-1 !important; }

.grey-text{
  color: $gs-3 !important; }

.white-text {
    color: $white !important; }

.orange-text {
    color: $brand-1 !important; }

.dark-bg, .dark-line {
    background: $gs-2 !important; }

.grey-bg, .grey-line {
    background: $gs-3 !important; }

.white-bg, .white-line {
    background: $white !important; }

.orange-bg {
    background: $brand-1 !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

section {
  width: 100%;
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  height: auto;
  padding: 0 10px;
  border: 0; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: $gs-1;
}

.btn {
  @include btn;
}

.line {
  @include line;
}

.white-card {
  @include basic-card;
  background: $white;
  text-align: center;
}

.dark-card {
  @include basic-card;
  background: $gs-2;
  text-align: center;
}

.orange-border {
  border: 4px solid $brand-1;
  border-radius: 10px;
}

.highlight-headline {
  display: inline-block;
  margin-bottom: 10px;
  padding: 12px;
  background: $gs-2;
  color: #fff;
}

.orange-btn {
  background-color: $brand-1;
  color: $white;
  &:hover {
      background-color: $b1-acc;
      border: none;
      cursor: pointer;
  }
}

.dark-btn {
  background-color: $gs-1;
  color: $white;
  &:hover {
      background-color: $gs-3;
      border: none;
      cursor: pointer;
  }
}

.arrow-button {
  visibility: visible;
  background-color: transparent;
  color: #fff;
  border: 3px solid $brand-1;
  border-radius: 200px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 5px 2px 5px 10px;
  justify-content: space-between;
  transition: 300ms;
  span.nb-text {
    padding: 0 10px;
  }
  .fas.fa-circle {
    color: $brand-1;
  }
  .fas.fa-circle.fa-arrow-right{
    color: $white;
  }
  &:hover {
    background-color: $brand-1;
  }
  &:hover .fas.fa-circle {
    color: rgba(255,255,255,0.4);
  }

  &:hover .fas.fa-circle.fa-arrow-right{
    color: $brand-1;
  }
}

.white-arrow-button {
  visibility: visible;
  background-color: transparent;
  color: #fff;
  border: 3px solid $white;
  border-radius: 200px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 5px 2px 5px 10px;
  justify-content: space-between;
  transition: 300ms;
  span.nb-text {
    padding: 0 10px;
  }
  .fas.fa-arrow-right {
    color: $brand-1;
  }
  &:hover {
    background-color: $white;
    color: $brand-1
  }
  &:hover .fas.fa-circle {
    color: rgba(229, 130, 22, 0.8);
  }
  &:hover .fas.fa-arrow-right {
    color: $white;
  }
}

.arrow-button.orange-arrow-button {
  color: $brand-1;
  &:hover .nb-text {
    color: $white;
  }
}

.orange-card {
  @include basic-card;
  background: $brand-1;
  text-align: center;
  > * {
    color: $white;
  }
  p {
    font-size: 14px;
  }
}

.cta-mg {
  margin-top: 60px;
}

.hl-mg {
  margin-bottom: 40px;
}

.cylinder-box {
  border: 2px solid $white;
  background-color: transparent;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  .box-icon {
    width: 86px;
    img {
      height: 80px !important;
      width: 80px !important;
    }
  }
  .box-text {
    padding: 5px;
    width: 86%;
  }
  p {
    color: $white;
    font-size: 14px;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  .flex-card {
    width: 31%;
    margin: 1%;
    background: $gs-2;
    .flex-card-image {
      width: 100%;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card-body {
      padding: 20px;
    }
  }
}

.case-studies {
  .flex-row {
    .flex-card {
      background: $gs-2;
    }
  }
}

.check-points {
  max-width: 760px;
  margin: 0 auto 40px auto;
  ul {
    li {
      list-style: none;
      display: flex;
      align-items: center;
      line-height: 148%;
      margin-bottom: 16px;
      text-align: left;
      .fa {
        font-size: 28px;
        margin-right: 8px;
      }
    }
  }
}


#dark-final-form {
  background-color: $gs-2;
  padding-top: 120px;
  margin-top: -40px;
  p {
    color: $white;
  }
}


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 60px;
	margin-top: 120px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}


.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
