html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
  width: 100%;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  height: auto;
  padding: 10px;
  border: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/* navbar */

.navbar .menu-icon {
  display: none;
}

.navbar {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

.navbar li {
  display: inline-block;
  position: relative;
}

.navbar li a {
  display: inline-block;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: #f4f4f4;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 24px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 7px;
}

.navbar .menu-icon .navicon:after {
  top: -7px;
}

/* menu icon */

.navbar .menu-icon.active .navicon {
  background: transparent;
}

.navbar .menu-icon.active .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-icon.active .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-icon.active .navicon:before,
.navbar .menu-icon.active .navicon:after {
  top: 0;
}

.navbar .menu{
  display: inline-block;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

ul.sub-menu {
  /* display: none; */
  position: absolute;
  height: 0;
  overflow: hidden;
  /* height: auto; */
}

.menu-item-has-children a::after {
  display: inline-block;
  margin-left: 7px;
  vertical-align: 2px;
  content: "";
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}

ul.sub-menu.submenu-toggle {
  height: auto;
}

@media (max-width: 768px) {

  .navbar .menu{
    display: none;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .navbar .menu.active {
    max-height: none;
    display: block;
}

  .navbar .menu-icon {
    display: block;
  }

  .navbar li {
    display: block;
}

  .navbar li a {
    padding: 20px 30px;
  }
 
}
